## üêº Hello ```pandas```

<a href="https://colab.research.google.com/github/STASYA00/AECinCode_tutorials/blob/main/notebooks/learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if running in colab:

In [ ]:
!git clone https://github.com/STASYA00/AECinCode_tutorials.git

![panda programming](../.assets/pandas.jpg)

[Data used in this exercise](https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata)

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("Airbnb_Open_Data.csv")  # function from the package

/tmp/ipykernel_282286/2026364197.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../.assets/Airbnb_Open_Data.csv")  # function from the package

In [5]:
df.columns  # property of the table

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [7]:
df.head()  # method of the table, used to see the top rows

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

## Why do we need it?

```pandas``` is used to work with tabular data. It means, we use it to:

‚ñ´Ô∏è look at our table\
‚ñ´Ô∏è check specific values (in a row / in a column / in one part of the table)\
‚ñ´Ô∏è understand values (e.g. which countries are present in this dataset? how many people are renting out private rooms with respect to entire apartments?)\
‚ñ´Ô∏è modify values (changing one specific value / column / row) or delete specific parts\
‚ñ´Ô∏è add new values (a new column / row)\
‚ñ´Ô∏è change format (e.g. ```.csv``` -> ```.xlsx```)

### Using ```pandas``` with ü§ñ LLMs

## Operations

In [ ]:
fpath = "../.assets/Airbnb_Open_Data.csv"
df = pd.read_csv(fpath)  # reading
df.head(7)  # visualizing top N (=7) rows

/tmp/ipykernel_27131/1539495275.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fpath)  # reading

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
6,1004650,BlissArtsSpace!,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,$14,45.0,49.0,10/5/2017,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN

### Describing the context

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

* Values can be null and non-null (missing values)
* Features can have different type (why does it matter?)
* Features have names - semantic information
* table has a certain number of rows and takes certain space in memory

**Breaking it down into pieces:**

‚ñ´Ô∏è what do I understand from seeing the name of the dataset and column descriptions?\
‚ñ´Ô∏è what does my LLM understands when seeing that - check!\
‚ñ´Ô∏è which extra information would it need to understand the data better?\
‚ñ´Ô∏è **is your goal clear to your LLM?** - if üëçüèª, we can start working

### Looking at the table
#### üßëüèº‚Äçüíªüë®üèº‚Äçüíªüë©üèª‚Äçüíª Step I
By looking at dataset columns and top rows describe what you understand from it.\
Some examples:
* These data might be useful for locating more preferrable urban areas
* Column X and Y might contain typos
* names of the columns are not consistent
* column X is likely important because ..
* column `country` is likely useless because it only has one value
* it would be interesting to compare / analyze / look into ...
and other possible issues and opportunities
#### ü§ñ Step II
Give the same information to an LLM and see the results. Compare.

### Getting one part of the dataset

In [6]:
df["country"]

0         United States
1         United States
2         United States
3         United States
4         United States
              ...
102594    United States
102595    United States
102596    United States
102597    United States
102598    United States
Name: country, Length: 102599, dtype: object

In [7]:
df[["country", "country code"]]

              country country code
0       United States           US
1       United States           US
2       United States           US
3       United States           US
4       United States           US
...               ...          ...
102594  United States           US
102595  United States           US
102596  United States           US
102597  United States           US
102598  United States           US

[102599 rows x 2 columns]

In [8]:
df.iloc[123]  # get row number 123

id                                                                          1069269
NAME                                                 apartment next to Central park
host id                                                                 65890112273
host_identity_verified                                                          NaN
host name                                                                      Aida
neighbourhood group                                                       Manhattan
neighbourhood                                                       Upper West Side
lat                                                                        40.77842
long                                                                      -73.97556
country                                                               United States
country code                                                                     US
instant_bookable                                                               True
cancellation_policy                                                        flexible
room type                                                           Entire home/apt
Construction year                                                            2008.0
price                                                                         $788
service fee                                                                   $158
minimum nights                                                                  7.0
number of reviews                                                              13.0
last review                                                               6/26/2019
reviews per month                                                              0.12
review rate number                                                              NaN
calculated host listings count                                                  NaN
availability 365                                                              243.0
house_rules                       We plan to treat you politely, warmly, and wit...
license                                                                         NaN
Name: 123, dtype: object

#### Duplicates
Does our dataset contain duplicates?

In [6]:
df.duplicated().sum()

541

In [7]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

#### Missing values
Are there any missing values?
df.isna().sum()
Why are they missing? What should we do about them?
**Possible strategies:**

* fill with a placeholder (e.g. 0)
* drop rows with many missing features
* drop columns with many missing records
* consider a feature -> make a separate column saying "missing / present"
* interpolate (deduce their values from the existing records)
* ...

What is the _percentage_ of missing values in each column?

In [ ]:
df.isna().sum() / df.shape[0]

License missing 99% of the records. Might not be so useful.

In [ ]:
df.drop(columns=["license"], inplace=True)

# another way of writing it:
# df = df.drop(columns=["license"])

If we want to fill a missing record:

In [ ]:

df["service fee"].fillna(0, inplace=True)  # filling with 0

In [ ]:
df["service fee"].fillna(df["service fee"].mean, inplace=True)  # filling with mean value in the column

Making it a separate column:

In [ ]:
df["last review"].isna()  # making a column telling if a record is missing or not. NOTE: it does not exist in our dataset (yet)
df["reviews_missing"] = df["last review"].isna()  # assigning it to a new column IN OUR DATASET

One of the features in our dataset is cancellation policy. For me it's usually one of the most important aspects when booking a place in a country I am about to visit. Plans are changing all the time and I might decide that I want to explore a different part of the mountain range. What are the different options on airbnb?

In [9]:
df["cancellation_policy"].unique()

array(['strict', 'moderate', 'flexible', nan], dtype=object)

Ok, now we know different options of cancellation policy. But how many people are strict with airbnb cancellation and how many are flexible?

In [10]:
df["cancellation_policy"].value_counts()

cancellation_policy
moderate    34343
strict      34106
flexible    34074
Name: count, dtype: int64

I am mostly interested in flexible cancellation policy. Who even books nowadays without a right to cancellation?

In [11]:
col1 = "cancellation_policy"
value = "flexible"

df.loc[
    df[col1]==value  # where column 1 has my value
    ]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
10,1006859,Cute & Cozy Lower East Side 1 bdrm,1280143094,verified,Miranda,Manhattan,Chinatown,40.71344,-73.99037,United States,...,$64,1.0,160.0,6/9/2019,1.33,3.0,4.0,1.0,NaN,NaN
11,1007411,Beautiful 1br on Upper West Side,18824631834,verified,Alan,Manhattan,Upper West Side,40.80316,-73.96545,United States,...,$121,5.0,53.0,6/22/2019,0.43,4.0,1.0,163.0,"My ideal guests would be warm, friendly, and r...",NaN
14,1009068,Wonderful Guest Bedroom in Manhattan for SINGLES,88920244552,verified,Leonardo,Manhattan,Upper West Side,40.79826,-73.96113,United States,...,$30,2.0,113.0,7/5/2019,0.91,3.0,1.0,68.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102583,6086362,1 BR apartment sublet.,15723384490,verified,Tassili,Manhattan,Harlem,40.80594,-73.95363,United States,...,$49,5.0,0.0,NaN,NaN,2.0,1.0,327.0,* No smoking indoors. * No pets * No loud/la...,NaN
102588,6089124,"Loft Space for Events, Meetings & Shoots",85557432222,unconfirmed,Kalin,Manhattan,Flatiron District,40.74068,-73.98999,United States,...,$124,1.0,177.0,6/29/2019,3.78,4.0,1.0,410.0,Keep the apartment clean and damage free please.,NaN
102589,6089676,Lrg room 1 block from Prospect Park,74549151787,unconfirmed,Dave,Brooklyn,Flatbush,40.65231,-73.96189,United States,...,$61,3.0,0.0,NaN,NaN,1.0,1.0,200.0,House Rules 1. Check-in is 4 pm local time. If...,NaN
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

Ok, many rows, too difficult to navigate. I am mostly interested in location, room type and price per night. Let's see which locations we have with flexible cancellation policy.

In [12]:
df["neighbourhood group"].loc[
    df[col1]==value  # where column 1 has my value
    ]

2         Manhattan
5         Manhattan
10        Manhattan
11        Manhattan
14        Manhattan
            ...
102583    Manhattan
102588    Manhattan
102589     Brooklyn
102594     Brooklyn
102598    Manhattan
Name: neighbourhood group, Length: 34074, dtype: object

In [13]:
df["neighbourhood group"].loc[
    df[col1]==value  # where column 1 has my value
    ].unique()

array(['Manhattan', 'Brooklyn', 'Queens', nan, 'Bronx', 'Staten Island'],
      dtype=object)

All five work for me! let's exclude the missing values in this columns (looks fishy). And let's check how the prices differ between these zones.

In [14]:
df1 = df.loc[df["neighbourhood group"].isna()==False].loc[
    df[col1]==value  # where column 1 has my value
    ]

In [15]:
df1.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
10,1006859,Cute & Cozy Lower East Side 1 bdrm,1280143094,verified,Miranda,Manhattan,Chinatown,40.71344,-73.99037,United States,...,$64,1.0,160.0,6/9/2019,1.33,3.0,4.0,1.0,NaN,NaN
11,1007411,Beautiful 1br on Upper West Side,18824631834,verified,Alan,Manhattan,Upper West Side,40.80316,-73.96545,United States,...,$121,5.0,53.0,6/22/2019,0.43,4.0,1.0,163.0,"My ideal guests would be warm, friendly, and r...",NaN
14,1009068,Wonderful Guest Bedroom in Manhattan for SINGLES,88920244552,verified,Leonardo,Manhattan,Upper West Side,40.79826,-73.96113,United States,...,$30,2.0,113.0,7/5/2019,0.91,3.0,1.0,68.0,NaN,NaN

In [16]:
df1["service fee"].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
df1["service fee"] = df["service fee"].astype(int)

ValueError: invalid literal for int() with base 10: '$193 '

In [17]:
df1["service fee"] = df["service fee"].apply(lambda s : s[1:]).astype(float)

TypeError: 'float' object is not subscriptable

In [18]:
df1["service fee"] = df["service fee"].apply(lambda s : s[1:] if isinstance(s, str) else s).astype(float)

In [19]:
df1["service fee"].describe()

count    33968.000000
mean       125.223622
std         66.378406
min         10.000000
25%         68.000000
50%        125.000000
75%        183.000000
max        240.000000
Name: service fee, dtype: float64

In [20]:
df1["service fee"].loc[df["neighbourhood group"]==df["neighbourhood group"].unique()[0]].describe()

count    13751.000000
mean       125.693840
std         66.247345
min         10.000000
25%         69.000000
50%        126.000000
75%        183.000000
max        240.000000
Name: service fee, dtype: float64

In [21]:
d = {}
for n in df1["neighbourhood group"].unique():
    d[n] = df1["service fee"].loc[df["neighbourhood group"]==n].describe()
d

{'Manhattan': count    14675.000000
 mean       124.216354
 std         66.467595
 min         10.000000
 25%         67.000000
 50%        124.000000
 75%        182.000000
 max        240.000000
 Name: service fee, dtype: float64,
 'Brooklyn': count    13751.000000
 mean       125.693840
 std         66.247345
 min         10.000000
 25%         69.000000
 50%        126.000000
 75%        183.000000
 max        240.000000
 Name: service fee, dtype: float64,
 'Queens': count    4323.000000
 mean      127.289845
 std        67.134335
 min        10.000000
 25%        69.000000
 50%       128.000000
 75%       186.000000
 max       240.000000
 Name: service fee, dtype: float64,
 'Bronx': count    911.000000
 mean     123.384193
 std       63.439281
 min       10.000000
 25%       71.000000
 50%      123.000000
 75%      176.000000
 max      240.000000
 Name: service fee, dtype: float64,
 'Staten Island': count    308.000000
 mean     128.662338
 std       65.156611
 min       10.000000
 25%       74.500000
 50%      130.000000
 75%      188.000000
 max      239.000000
 Name: service fee, dtype: float64}

In [22]:
pd.DataFrame.from_dict(d)

          Manhattan      Brooklyn       Queens       Bronx  Staten Island
count  14675.000000  13751.000000  4323.000000  911.000000     308.000000
mean     124.216354    125.693840   127.289845  123.384193     128.662338
std       66.467595     66.247345    67.134335   63.439281      65.156611
min       10.000000     10.000000    10.000000   10.000000      10.000000
25%       67.000000     69.000000    69.000000   71.000000      74.500000
50%      124.000000    126.000000   128.000000  123.000000     130.000000
75%      182.000000    183.000000   186.000000  176.000000     188.000000
max      240.000000    240.000000   240.000000  240.000000     239.000000

In [25]:
df1["service fee"].dtype

dtype('float64')

### Saving as

In [ ]:
new_df = pd.DataFrame.from_dict(d)
new_df.to_csv("../.assets/price_distro.csv")

In [ ]:
new_df.to_excel("../.assets/1.xlsx")

## Merge operations

In [10]:
df1 = pd.DataFrame({'name': ['ramen', 'pho', 'dal makhani', 'poke'],
                    'price': [180, 200, 130, 150]})
df1

          name  price
0        ramen    180
1          pho    200
2  dal makhani    130
3         poke    150

In [12]:
df2 = pd.DataFrame({'name': ['ramen', 'pho', 'flygande jakob', 'shephards pie'],
                    'sold': [7, 20, 140, 2]})
df2

             name  sold
0           ramen     7
1             pho    20
2  flygande jakob   140
3   shephards pie     2

Some records match in these two tables. Some don't. There are several strategies of solving it (except for filling them in manually):

#### ‚¨ÖÔ∏è Left join

![left join](../.assets/left_join.svg)

In [14]:
pd.merge(df1, df2, how="left")

          name  price  sold
0        ramen    180   7.0
1          pho    200  20.0
2  dal makhani    130   NaN
3         poke    150   NaN

#### ‚û°Ô∏è Right join

![right join](../.assets/right_join.svg)

In [15]:
pd.merge(df1, df2, how="right")

             name  price  sold
0           ramen  180.0     7
1             pho  200.0    20
2  flygande jakob    NaN   140
3   shephards pie    NaN     2

#### ‚¨áÔ∏è Inner join

![inner join](../.assets/inner_join.svg)

In [16]:
pd.merge(df1, df2, how="inner")

    name  price  sold
0  ramen    180     7
1    pho    200    20

#### ‚¨ÜÔ∏è Outer join

![outer join](../.assets/full_join.svg)

In [17]:
pd.merge(df1, df2, how="outer")

             name  price   sold
0     dal makhani  130.0    NaN
1  flygande jakob    NaN  140.0
2             pho  200.0   20.0
3            poke  150.0    NaN
4           ramen  180.0    7.0
5   shephards pie    NaN    2.0